body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.posterImage {
  max-width: 30%;
}

.ratingCard {
  text-align: center;
}

.ratingHeader {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}

.ratingFooter {
  text-align: center;
  padding-top: 8%;
}

.likeDislikeButtons {
  padding-top: 2%;
  padding-left: 5px;
}

.homeContainer {
  padding-top: 20%;
}

.homeText {
  text-align: center;
  max-width: 500px;
  margin: auto;
  width: 90%;
  border: 3px solid black;
  padding: 10px;
}

.homeButton {
  margin:auto;
  display:block;
  padding: 15px;
}

.homeButtonContainer {
  padding-top: 100px;
}

.signupForm {
  padding-top: 20%;
  max-width: 150px;
  margin: 0 auto;
}

.signupButton {
  padding-top: 10%;
  padding-left: 24px;
}

.loginButton {
  padding-top: 10%;
  padding-left: 47px;
}
