body {
  margin: 0;
  padding-left:9%;
  padding-right:9%;
  /* background-color: #BABDC7; */
  /* background-color: rgba(255,255,255,0); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.posterImage {
  max-width: 80%;
  border-color: white;
  border-style: solid;
  border-width: 11px;
}

.posterChatImage {
  max-width: 35%;
  max-height: 80%;
  border-color: white;
  border-style: solid;
  border-width: 11px;
  margin-top: 1%;
}

/* .ratingCard {
  text-align: center;
  color: white;
} */

.ratingHeader {
  padding-top: 2%;
  padding-bottom: .5%;
  text-align: center;
  color: white;
}

.ratingFooter {
  text-align: center;
  padding-top: 2%;
  color: white;
}

.likeDislikeButtons {
  padding-top: 2%;
  padding-left: 5px;
}

.homeContainer {
  padding-top: 20%;
}

.homeText {
  border-radius: 18px;
  text-align: center;
  max-width: 650px;
  margin: auto;
  margin-top: -2%;
  width: 90%;
  border: 3px;
  color: white;
  background-color: rgba(0,0,0,.6);
  padding: 50px;
  padding-bottom: 60px;
}

.clubContainer {
  padding-top: 20%;
}

.clubText {
  border-radius: 18px;
  text-align: center;
  max-width: 850px;
  margin: auto;
  width: 90%;
  border: 3px;
  color: white;
  background-color: rgba(0,0,0,.6);
  padding: 50px;
  padding-bottom: 60px;
}

.homeButton {
  margin:auto;
  max-width: 146px;
  display:block;
}

.clubButton {
  margin:auto;
  max-width: 104px;
  display:block;
}

.homeButtonContainer {
  padding-top:5%;
}

.signupForm {
  padding-top: 20%;
  max-width: 150px;
  margin: 0 auto;
}

.signupButton {
  padding-top: 10%;
  padding-left: 24px;
}

.signupLoginLink {
  text-align: center;
  padding-top: 10%;
}

.loginButton {
  padding-top: 10%;
  position:relative;
  left: 32.5px;
}

.alreadyLogin {
  color: white
}

.loginWindow {
  background: rgba(0,0,0,.6);
}

.movieContainer {
  display: inline-block;
  max-width: 31.3%;
  min-width: 31.3%;
  margin: 1%;
  padding-bottom: 3%;
  padding-top: 3%;
  background: rgba(0,0,0,.6);
  border-radius: 15px;
  text-align: center;
}

.movieContainer:hover {
  background: rgba(204,255,204,0.5);
}

.avatars {
  display: inline-block;
  max-width:16%;
  /* padding:2%; */
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 12px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.avatarSelection {
  background-color: rgba(0,0,0,.6);
  border-radius: 15px;
  padding-bottom: 1%;
}

.avatarsHeader {
  text-align: center;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.userIcon {
  width: 60px;
  max-width: 3.5%;
  z-index: 8;
  position: fixed;
  top: 3%;
  right: 5%;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 4px;
}

.signOutButton {
  position: fixed;
  width: 60px;
  max-height: 100%;
  height: 60px;
  max-width: 3.5%;
  text-align: center;
  top: 3%;
  right: 5%;
  z-index: 9;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
}

.signOutButton:hover {
  background-color: rgba(0,0,0,.4);
}

.actualButton {
  z-index: 10;
  width: 60px;
  height: 60px;
  padding-left:5px;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  color: rgba(200,200,200,0);
  border-color: rgba(0,0,0,0);
}

.actualButton:hover {
  color: white;
}

.chatWindow {
  background-color: rgba(0,0,0,.8);
  /* min-width: 50%; */
  /* max-height: 56.9%;
  min-height: 56.9%; */
  position: fixed;
  top: 30%;
  right: 9.1%;
  padding: 25px;
  padding-left: 30px;
  border-radius: 20px;
  width: 50%;
  display:inline-block;
  border-color: white;
  border-style: solid;
  border-width: 6px;
}

.messagesArea {
  margin-bottom: 1%;
  height: 505px;
  overflow-y: auto;
  color: white;
  font-weight: bold;
}

.newMessageForm  {
  /* background-color: green; */
  position: relative;
  width: 70%;
  top: 90%;
  left: -2%;
}

.messageSubmit {
  display: flex;
}

.clubList {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}

.clubHeader {
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-right: 5%;
  color: white;
}

.clubPageUsernames {
  text-align: center;
  max-width: 16%;
  color: white;
  display: inline-block;
  padding: 15px;
}

.clubUsernames {
  max-width: 100%;
  font-weight: bold;
  overflow:hidden;
}

.clubPageAvatars {
  max-width: 100%;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 6px;
  display: inline-block;
}

.avatarContainer {
  max-width: 55%;
  height: auto;
  position: fixed;
  right:5.5%;
  top: 8%;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
